<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NTTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C108F4B81D2556E9002B003A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C108F4D11D2556E9002B003A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C108F4DC1D2556E9002B003A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
